<div class="bg">
      
            <div>
                  โรงเรียนเลิงนกทา  เลขที่ตั้ง 299 หมู่ที่ 12 ตำบลสามแยก  อำเภอเลิงนกทา จังหวัดยโสธร รหัสไปรษณีย์ 35120
            </div>
      <div>
      โทรศัพท์ 0-4578-1116  โทรสาร  0-4578-1986   E-Mail  lnschool@ln.ac.th   Facebook : Loengnokthaschool
      สำนักงานเขตพื้นที่การศึกษามัธยมศึกษาศรีสะเกษ ยโสธร    
      </div>
      <div>
      สำนักงานคณะกรรมการการศึกษาขั้นพื้นฐาน  กระทรวงศึกษาธิการ
</div>
<div>
      Copyright © 2018 All rights reserved. 
</div>
      </div>
