<div class="container">
      <div class="card">
            <div class="item">
                  <div routerLink="/insert" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <i class="pi pi-upload"></i>
                        เพิ่มข้อมูลนักเรียน
                  </div>
                  <div routerLink="/data" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <i class="pi pi-users"></i>
                        ข้อมูลนักเรียนทั้งหมด
                  </div>
            </div>
            <div class="item">
                  <div routerLink="/history" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <i class="pi pi-database"></i>
                        ประวัติการจ่ายยา
                  </div>
                  <div routerLink="/insert_drug" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <i class="pi pi-sort-down"></i>
                        เพิ่มยาเข้าคลัง
                  </div>
                  <div routerLink="/stock" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <i class="pi pi-box"></i>
                        คลังยา
                  </div>
            </div>
            <div class="item">
                  <div routerLink="/dispense" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <i class="pi pi-sort-up"></i>
                        จ่ายยา
                  </div>
            </div>
      </div>
</div>
<app-flutter></app-flutter>