<p-toast></p-toast>
<div  style="display: flex; justify-content: center; margin-top: 20px; font-size: 25px; color: white; ">
      <h1 [style]="{backgroundColor:'var(--blue-500)'}" style="padding: 10px; border-radius: 10px;">
          แก้ไขข้อมูลนักเรียนดังกล่าว
      </h1>
  </div>
  <div style="margin-top: 50px; display: flex; justify-content: center;">
  <div >
        <span class="p-float-label" >
              <input id="float-input" [(ngModel)]="data_id_student" type="number" required #id_st_rq="ngModel" pInputText> 
              <label for="float-input">เลขรหัสนักเรียน</label>
              <p-message *ngIf="id_st_rq.invalid && id_st_rq.touched" severity="error" text="คุณยังไม่ได้กรอกเลขรหัสนักเรียน"></p-message>
        </span>
        <span class="p-float-label" style="margin-top: 25px;">
              <input id="float-input" [(ngModel)]="data_name" required #name_="ngModel" type="text" pInputText> 
              <label for="float-input">ชื่อ-นามสกุล</label>
              <p-message *ngIf="name_.invalid && name_.touched" severity="error" text="คุณยังไม่ได้กรอกชื่อนักเรียน"></p-message>
        </span>
        <div style="margin-top: 25px; display: flex; " >
        <p-dropdown [options]="select_sex" [(ngModel)]="data_sex" optionValue="name"  placeholder="เลือกเพศ" optionLabel="name" [showClear]="true" ></p-dropdown>
        <p-dropdown [options]="select_blood_type" [(ngModel)]="data_blood_type" optionValue="name"  placeholder="เลือกกรุ๊ปเลือด" optionLabel="name" [showClear]="true"></p-dropdown>
          </div>
        <span class="p-float-label" style="margin-top: 25px;">
              <input id="float-input" [(ngModel)]="data_allergic_drug" type="text" pInputText> 
              <label for="float-input">ยาที่แพ้</label>
        </span>
        <div style="margin-top: 25px;">
        <p-dropdown [options]="select_level" [(ngModel)]="data_level" optionValue="name" placeholder="เลือกชั้นปีการศึกษา" optionLabel="name" [showClear]="true"></p-dropdown>
          </div>
        <span class="p-float-label" style="margin-top: 25px;">
          <textarea id="float-input" rows="5" cols="30" [(ngModel)]="data_more" pInputTextarea></textarea>
          <label for="float-input">เพิ่มเติม</label>
      </span>
      <div style="margin-top: 25px; display: flex; justify-content: center;">
        <p-button label="Submit" [disabled]="!!id_st_rq.invalid || !!name_.invalid " icon="pi pi-check" (onClick)="showConfirm()"></p-button>
      </div>
      </div>
  </div>
  <app-flutter></app-flutter>

  <p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
      <ng-template let-message pTemplate="message">
          <div class="flex flex-column" style="flex: 1">
              <div class="text-center">
                  <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                  <h4>{{message.summary}}</h4>
                  <p>{{message.detail}}</p>
              </div>
              <div class="grid p-fluid" style="display: flex; justify-content: space-evenly;">
                  <div class="col-6">
                      <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                  </div>
                  <div class="col-6">
                      <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                  </div>
              </div>
          </div>
      </ng-template>
  </p-toast>